-
	var navbarL = 
		{
			brand: "Yeti Agency",
			name: ["One", "Two"],				
			position: "justify-content-start"
		}
-
	var navbarR = 
		{
			name: ["Three", "Four", "Five"],
			position: "justify-content-end"
		}